<footer class="bg-primary text-white py-4 mt-5">
  <div class="container text-center">

    <p class="mb-2">© 2025 EduCourses. All rights reserved.</p>

    <ul class="nav justify-content-center mb-3">
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/index.html">Home</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/about.html">About</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/contact.html">Contact</a></li>
    </ul>

    <div>
      <a class="text-white mx-2" href="#"><i class="bi bi-facebook fs-5"></i></a>
      <a class="text-white mx-2" href="#"><i class="bi bi-linkedin fs-5"></i></a>
      <a class="text-white mx-2" href="#"><i class="bi bi-twitter fs-5"></i></a>
    </div>

  </div>
</footer>
